@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");

body{
    font-family: 'Roboto', sans-serif !important;
}
.navbar-nav a{
    font-weight: 100 !important;
}
.bg-light{
    background: #f1f1f1 !important;
}
a{
    text-decoration: none !important;
}
*{
    user-select: none !important;
}
.service-item p{
    font-weight: 200 !important;
}
/*** Service ***/
.contact-item {
    cursor: pointer;
    background: #f1f1f1;
    transition: .5s;
}

.contact-item:hover {
    margin-top: -5px;
    background: var(--primary);
}
.contact-item:hover * {
    color: var(--light) !important;
}
.contact-item:hover i {
    color: var(--primary) !important;
}